/* You can add global styles to this file, and also import other style files */
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/* .center{
    display:flex;
    justify-content: center;
    align-items: center;


} */